# Node / Frontend
node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example

# Java / Maven / Spring Boot
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Eclipse / IDE
.project
.classpath

# Local Database Folder
data/
/data/
*.db